<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                <span style='font-family:Menlo, Courier, monospace'>=nil;</span> 
                Foundation's in-EVM Solana "Light-Client" state verification 
                enables every Solana cluster epoch confirmed state to be relied
                on in Ethereum for in-EVM applications of any kind.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                Such a 'Light-Client' state verification makes bridging
                mechanisms using "relays", "tokens", "oracles" or "validators"
                obsolete and redundant by introducing the core for
                Solana-Ethereum bridges relying only on cryptographic
                assumptions (just like signatures or hashes, for example). 
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="docs" class="btn btn-lg btn-success">
                Read the docs for more
                </a>
            </div>
        </div>
    </div>
</section>
