<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                <span style='font-family:Menlo, Courier, monospace'>=nil;</span> 
                Foundation's in-EVM Mina Protocol state verification enables
                every state transition, every transaction made within Mina 
                state to be proved on Ethereum directly, in a completely trustless 
                way.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                Such a full state verification, thanks to fixed Mina Protocol 
                state proof size (~22Kb), allows to bring provable computations 
                of various complexity made possible by Mina to Ethereum (aka
                bridge) without any requirements for intermediate relays.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="docs" class="btn btn-lg btn-success">
                Read the docs for more
                </a>
            </div>
        </div>
    </div>
</section>
