<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Database was established in July 
                of 2019 by <span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Foundation to fulfill the need in
                development team for <span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Database Management System.</p>
            </div>
            <div class="col-lg-4">
                <p>Since that time the team got involved in 
                <span style='font-family:Menlo, Courier, monospace'>=nil;</span> 
                DBMS development, introduced Database Engine API standard,
                Imperative Query Language, layered storage engines and lots
                more.</p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>-->
        </div>
    </div>
</section>
