<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">{{ site.titles.last.title }}</span>
                    <!-- <hr class="star-light"> -->
                    <span class="skills">
                        <div class="text-scrmb">
                            {% for item in site.areas %}
                            <span class="text-scrmb-element">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </span>
                    <br>
                    <p class="page-scroll">
                    <a class="btn btn-success btn-lg" role="button"
                        href="walkthrough/index.html">Demo</a>
                    <a class="btn btn-primary btn-lg" href="docs">Documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
