<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">{{ site.titles.last.title }}</span>
                    <!-- <hr class="star-light"> -->
                    <span class="skills">{{ site.areas }}</span>
                    <br><br>
                    <p class="page-scroll">
                        <a class="btn btn-success btn-lg disabled" role="button"
                            href="https://cloud.nil.foundation">Coming Soon</a>
                        <a class="btn btn-primary btn-lg"
                            href="https://database.nil.foundation/projects/dbms">What
                            is this about?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
