<!-- Partners Grid Section -->
<section class="success" id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Solutions</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% if site.posts.size == 0 %}
        <div class="row text-center">
            <br>
            <p>Your project using Mina-Ethereum bridge core is welcomed
            to be here!</p>
            <br><br>
        </div>
        <div class="row text-center">
            <p class="page-scroll">
            <a class="btn btn-success btn-lg" role="button" href="#contact">Drop us a line!</a>
            </p>
        </div>
        {% else %}
        {% for post in site.posts %}
        {% if post.tag == "partner" %}
        <div class="row">
            <div class="col-sm-3 solutions-item panel panel-primary">
                <div class="panel-heading caption">
                    <h3 class="caption-content panel-title">{{ post.name }}</h3>
                </div>
                <div class="panel-body">
                    <a href="{{ post.link }}">
                        <img src="img/solutions/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</section>
