<!-- Projects Grid Section -->
<section id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Timeline</h2>
                <hr class="star-light">
            </div>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge success"><i class="fa fa-fw fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Initial research</h4>
                        <p><small class="text-muted"><i class="fa fa-fw
                                fa-clock-o"></i> July 10 - September 13 2021</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        <span style='font-family:Menlo, Courier,
                        monospace'>=nil;</span> Foundation and Solana Labs started
                    the initial conversation regarding creating a more trustless
                    Solana-Ethereum bridging mechanism core. 
                    Some details about that are available in related 
                    <a href="https://blog.nil.foundation/2021/10/11/solana-ethereum-bridge.html">
                        blog post </a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-fw fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Detailed Solution Description Development</h4>
                        <p><small class="text-muted"><i class="fa fa-fw
                                fa-clock-o"></i> September 13 - November 15 2021</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        <span style='font-family:Menlo, Courier, monospace'>=nil;</span> Foundation's 
                        <a href="https://crypto3.nil.foundation">Crypto3</a>
                        team developed Solana's 'Light-Client' state proof
                        generation and verification protocol description. 
                        <a
                            href="https://verify.solana.nil.foundation/docs">Documentation</a>
                        helps to figure out what is what.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge warning">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">'Light-Client' State Proof Generation Development</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>
                            Q4 2021 - Q1 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        Solana's 'Light-Client' state is too huge to be verified
                        on Ethereum directly, so it has to be packed into a
                        proof, which would be easier to verify.
                        To make this possible, <span style='font-family:Menlo,
                        Courier, monospace'>=nil;</span> Foundation got to
                    developing such a proof generator. Try what is already done
                    with <a href="https://verify.solana.nil.foundation/walkthrough">
                        an interactive in-browser demo</a>.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">In-EVM 'Light-Client' State Proof Verification Development</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>
                            Q4 2021 - Q1 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        Solana's 'Light-Client' state proof should be verified on
                        Ethereum's side to make sure it proves the actual valid 
                        Solana's cluster data. It is also required to prove a
                        particular proof belongs to the proper state proof
                        sequence, originating from the very beggining of
                        Solana's cluster commit log.</p>
                    </div>
                </div>
            </li>
            <li class="timeline">
                <div class="timeline-badge warning"><i class="fa fa-pause"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Security Audit</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>Q1 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>An independent audit is deefinitely required. We're
                        looking forward to that. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-pause"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Applications Integration</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>Q2 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>At this stage Solana's 'Light-Client' in-EVM proof
                        verification mechanism can be considered ready for
                        being integrated into various applications: wallets,
                        games etc. You will be welcomed to <a href="#contact">
                            drop us a line</a> about the integration if trustless 
                        bridging core to your application!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
