<!-- Projects Grid Section -->
<section id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Timeline</h2>
                <hr class="star-light">
            </div>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge success"><i class="fa fa-fw fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Initial research</h4>
                        <p><small class="text-muted"><i class="fa fa-fw fa-clock-o"></i> April 2 - September 22 2021</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        <span style='font-family:Menlo, Courier,
                        monospace'>=nil;</span> Foundation, Mina Foundation
                    and Ethereum Foundation initiated the collaborative research
                    on making in-EVM verification of Mina Protocol's state proof
                    - a core of every Mina-Ethereum bridge in future - possible. 
                    Read some details on that in related 
                    <a href="https://blog.nil.foundation/2021/09/30/mina-ethereum-bridge.html">
                        blog post </a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-fw fa-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Detailed Solution Description Development</h4>
                        <p><small class="text-muted"><i class="fa fa-fw fa-clock-o"></i> September 22 - November 22 2021</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        <span style='font-family:Menlo, Courier, monospace'>=nil;</span> Foundation's 
                        <a href="https://crypto3.nil.foundation">Crypto3</a>
                        team got to developing Mina Protocol's state proof
                        in-EVM verification detailed solution description
                        development. <a href="https://verify.mina.nil.foundation/docs">Read
                            the documentaton</a> to find out about results.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge warning">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Auxiliary Proof Generation Development</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>
                            Q4 2021 - Q1 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        Mina Protocol's state proof is too expensive to be
                        verified on Ethereum directly. So it requires some
                        preprocessing. In particular, a part of Pickles proof 
                        requires to be wrapped with one more proof, proof of 
                        successful verification of which could be considered as
                        succesful verification of initial proof on Ethereum.
                        To make this possible, <span style='font-family:Menlo,
                        Courier, monospace'>=nil;</span> Foundation got to
                    developing such an auxiliary proof generator
                    development. Try what was accomplished by 
                    <a href="https://verify.mina.nil.foundation/walkthrough">walking
                        through the in-browser demo</a>.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">In-EVM Proof Verification Development</h4>
                        <p><small class="text-muted">
                            <i class="fa fa-fw fa-clock-o"></i>
                            Q4 2021 - Q1 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                        Mina Protocol's state proof should be verified on
                        Ethereum's side to make sure it proves the actual valid 
                        Mina's data. That is why in-EVM Mina's state proof 
                        verification mechanism is required to be implemented.</p>
                    </div>
                </div>
            </li>
            <li class="timeline">
                <div class="timeline-badge success"><i class="fa fa-fw fa-thumbs-up"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Security Audit</h4>
                    </div>
                    <div class="timeline-body">
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-fw fa-thumbs-up"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Ready for the usage!</h4>
                    </div>
                    <div class="timeline-body">
                        <p></p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>
