<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="upform">
                <form>
                    <div class="upform-header"></div>
                    <div class="upform-main">
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Alright. Let's walk you through the Mina state proof in-EVM verification process.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes" type="radio">
                                <label for="toggle-on-q1" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q1" class="toggle toggle-right" name="q1" value="no" type="radio">
                                <label for="toggle-off-q1" class="btn
                                                                     btn-walkthrough"><span>N</span> No, I'm scared.</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">First of all, we need Mina's
                                state proof.<br>
                                When Chainsafe finish their <a href="https://github.com/ChainSafe/mina-rs">
                                    Mina protocol implementation</a>,<br>
                                it will be
                                possible to retrieve it automatically right in browser.
                                <br>
                                But for now we got the sample of it for you
                                in here already.</div>
                            <div class="input-control">
                                <input type="text" class="required"
                                                   autocomplete="off" 
                                                   value="https://raw.githubusercontent.com/NilFoundation/evm-mina-verification/master/share/mina/genesis_proof_ef3659d87a794d5c0159273bc7e596fe7a92b766a0aeb4be3437f582e716697a"
                                                   placeholder="S-Expr-formatted Mina state proof (or a link)(usually starts with '((statement((proof_state(...'">
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q2" class="toggle toggle-left" name="q2" value="yes" type="radio">
                                <label for="toggle-on-q2" class="btn
                                                                    btn-walkthrough"><span>Y</span> Alright.
                                                                    Next.</label>
                                <input id="toggle-off-q2" class="toggle toggle-right" name="q2" value="no" type="radio">
                                <label for="toggle-off-q2" class="btn
                                                                     btn-walkthrough"><span>N</span> Wait, what
                                                                     am I doing in here?</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="label">Now, state proof needs to be
                                preprocessed. <br> Wait a minute, while auxiliary
                                proof generator goes
                                <div class="tickerwrapper">
                                    <ul class='list'>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>rrrrrrrrrrrrrrrrrrr</span>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q3" class="toggle toggle-left" name="q3" value="yes" type="radio">
                                <label for="toggle-on-q3" class="btn
                                                                    btn-walkthrough"><span>Y</span> Ready. Next step.</label>
                                <input id="toggle-off-q3" class="toggle toggle-right" name="q3" value="no" type="radio">
                                <label for="toggle-off-q3" class="btn
                                                                     btn-walkthrough"><span>N</span> Calculate that again.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Now it is time to submit the preprocessed
                                    proof to Ethereum for the verification to be
                                    performed.
                                    Get your Ethereum account ready. <br>
                                    Proof verification is going to take about
                                    3.5m gas (0.0035 ETH).
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q4" class="toggle
                                                                 toggle-left" name="q4" value="yes" type="radio">
                                <label for="toggle-on-q4" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q4" class="toggle
                                                                  toggle-right" name="q4" value="no" type="radio">
                                <label for="toggle-off-q4" class="btn
                                                                     btn-walkthrough"><span>N</span> No, fuck you.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Hah! Gotcha!<br>
                                    The verification part is not ready yet.<br>
                                    Get back later to complete the whole
                                    process.<br>
                                    Meanwhile, keep track of progress in 
                                    <a href="https://github.com/nilfoundation/evm-mina-verification">Github repository</a> 
                                    and on <a href="https://twitter.com/nil_foundation">Twitter</a>
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <a href="https://verify.mina.nil.foundation" class="btn btn-primary
                                              btn-lg">Okay :(</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
