<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="upform">
                <form>
                    <div class="upform-header"></div>
                    <div class="upform-main">
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    This interactive tutorial simulates the
                                    Solana's "Light-Client" input retrieval
                                    along with its state proof generation for it
                                    to be verified on Ethereum afterwards.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes" type="radio">
                                <label for="toggle-on-q1" class="btn btn-walkthrough"><span>Y</span> LTFG!</label>
                                <input id="toggle-off-q1" class="toggle toggle-right" name="q1" value="no" type="radio">
                                <label for="toggle-off-q1" class="btn btn-walkthrough"><span>N</span> No. Get me back.</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">
                                First of all, we need Solana's
                                "Light-Client" state.<br>
                                When Solana Labs implements the "Light-Client"
                                itself, it will be possible<br>
                                to retrieve such a state via RPC call right in browser.
                                <br>
                                But for now we've generated the data mock. Right
                                in browser as well.
                            </div>
                            <div class="input-control">
                                <input type="text" class="required"
                                                   autocomplete="off" 
                                                   value=""
                                                   placeholder="JSON-formatted Solana's 'Light-Client' state">
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q2" class="toggle toggle-left" name="q2" value="yes" type="radio">
                                <label for="toggle-on-q2" class="btn
                                                                    btn-walkthrough"><span>Y</span> Alright.
                                                                    Next.</label>
                                <input id="toggle-off-q2" class="toggle toggle-right" name="q2" value="no" type="radio">
                                <label for="toggle-off-q2" class="btn
                                                                     btn-walkthrough"><span>N</span> Wait, what
                                                                     am I doing in here?</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="label">Now, "Light-Client" state proof
                                needs to be generated <br> Wait a minute, 
                                I'm
                                <div class="tickerwrapper">
                                    <ul class='list'>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                        <li class='listitem'>
                                            <span>OOOOOOOOOOOOOOOOOOO</span>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q3" class="toggle toggle-left" name="q3" value="yes" type="radio">
                                <label for="toggle-on-q3" class="btn
                                                                    btn-walkthrough"><span>Y</span>
                                                                    Hehe. Proof GeneratOOOOOOr! Next step.</label>
                                <input id="toggle-off-q3" class="toggle toggle-right" name="q3" value="no" type="radio">
                                <label for="toggle-off-q3" class="btn
                                                                     btn-walkthrough"><span>N</span> Calculate that again.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Now it is time to submit the preprocessed
                                    proof to Ethereum for the verification to be
                                    performed.
                                    Get your Ethereum account ready. <br>
                                    Proof verification is going to cost about
                                    2m gas.
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <input id="toggle-on-q4" class="toggle
                                                                   toggle-left" name="q4" value="yes" type="radio">
                                <label for="toggle-on-q4" class="btn
                                                                    btn-walkthrough"><span>Y</span> Okay.</label>
                                <input id="toggle-off-q4" class="toggle
                                                                    toggle-right" name="q4" value="no" type="radio">
                                <label for="toggle-off-q4" class="btn
                                                                     btn-walkthrough"><span>N</span> No, fuck you.</label>
                            </div>
                        </div>
                        <div class="input-block">
                            <div class="intro-text">
                                <span class="skills">
                                    Here comes the verification step. When it is ready.<br>
                                    But for now, it is not ready. Yet.<br>
                                    Get back later to complete the whole process.<br>
                                    Meanwhile, keep track of progress in 
                                    <a href="https://github.com/nilfoundation/evm-solana-verification">Github repository</a> 
                                    and on <a href="https://twitter.com/nil_foundation">Twitter</a>
                                </span>
                                <br>
                                <br>
                            </div>
                            <div class="input-control">
                                <a href="https://verify.solana.nil.foundation" class="btn btn-primary
                                                                                      btn-lg">Alrighty.</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
