<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="skills">
                        <div class="text-scrmb">{{ site.subtitle }}</div>
                    </span>
                    <br>
                    <p class="page-scroll">
                    </p>
                </div>
            </div>
            <div class="upform">
                <form>
                    <div class="upform-header"></div>
                    <div class="upform-main">
                        <div class="input-block">
                            <div class="label">Q1.</div>
                            <div class="input-control">
                                <input id="toggle-on-q1" class="toggle toggle-left" name="q1" value="yes" type="radio">
                                <label for="toggle-on-q1" class="btn btn-walkthrough"><span>A</span> Yes</label>
                                <input id="toggle-off-q1" class="toggle toggle-right" name="q1" value="no" type="radio">
                                <label for="toggle-off-q1" class="btn btn-walkthrough"><span>B</span> No</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">Q2.</div>
                            <div class="input-control">
                                <input id="toggle-on-q2" class="toggle toggle-left" name="q2" value="yes" type="radio">
                                <label for="toggle-on-q2" class="btn btn-walkthrough"><span>A</span> Yes</label>
                                <input id="toggle-off-q2" class="toggle toggle-right" name="q2" value="no" type="radio">
                                <label for="toggle-off-q2" class="btn btn-walkthrough"><span>B</span> No</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">Q3.</div>
                            <div class="input-control">
                                <input id="toggle-on-q3" class="toggle toggle-left" name="q3" value="yes" type="radio">
                                <label for="toggle-on-q3" class="btn btn-walkthrough"><span>A</span> Yes</label>
                                <input id="toggle-off-q3" class="toggle toggle-right" name="q3" value="no" type="radio">
                                <label for="toggle-off-q3" class="btn btn-walkthrough"><span>B</span> No</label>
                            </div>
                        </div>

                        <div class="input-block">
                            <div class="label">What?</div>
                            <div class="input-control">
                                <input type="text" class="required" autocomplete="off">
                            </div>
                        </div>

                    </div>

                    <div class="upform-footer">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</header>
